
<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Logist</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'js/logistapp.js' %}">
<link rel="stylesheet" href="{% static 'css/logistapp.css' %}">
  </head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><h1><strong>Logist</strong></h1></a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'trip_list' %}"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Trips</span></a></li>

                        <li><a href="{% url 'add_trip' %}"><i class="fa fa-bus" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Add Trip</span></a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Trips</span></a></li>
                        <li><a href="{% url 'login' %}"><i class="fa fa-bus" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Add Trip</span></a></li>


                        {% endif %}
                        <li><a href="#"><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a href="#"><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a href="#"><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a href="#"><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a href="#"><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                  {% if user.is_authenticated %}
                                  <li><a class="nav-item nav-link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" ></span><b>Logout</b></a></li>
                                  <a ><b>Welcome: {{ user.username }}</b></a>
                                  {% else %}
                                  <li><a class="nav-item nav-link" href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span><b>Sign Up</b></a></li>
                                  <li><a class="nav-item nav-link" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span><b>Login</b></a></li>
                                  {% endif %}
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">

                    {% block content %}
                    {% endblock %}
              </div>
              </div>
            </div>
          </div>
        </body>
</html>
